#grid-container {
    display: flex;
    width: 480px;
    flex-wrap: wrap;
}

#grid-container div {
    width: 30px;
    height: 30px;
}

#c {
    width:100px;
    height: 50px;
    border-style: double;
    border-width: 5px;
    border-radius: 8px;
}