#grid-container {
    display: flex;
    width: 480px;
    flex-wrap: wrap;
}

#grid-container div {
    width: 30px;
    height: 30px;
    transition: 0.7s;
}

#grid-container div:hover {
    transition: 0.7s;
    background-color: black;
}